*{
    font-family: 'Sora', sans-serif;
}
body{
    background: black;
    color: white;
}
#Confirmed,#Active,#Recovered,#Deceased{
    margin-top: 1.5rem;
}
.middle span{
       color: #4c75f2;
}
#NewActiveCases{
    visibility: hidden;
}
#Vaccines{
    color: #db5581;
    padding: 1rem;
    background: rgba(219,85,129,.12549019607843137);
}
.ConfirmedDiv,.ActiveDiv,.RecoveredDiv,.DeceasedDiv{
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
}
.ActiveDiv{
    background: rgba(66, 100, 212, 0.125);
}
.RecoveredDiv:hover{
    background: rgba(40,167,69,.12549019607843137);

}
.DeceasedDiv:hover{
    background: rgba(108,117,125,.06274509803921569);

}
.ConfirmedDiv:hover{
    background: rgba(255,7,58,.12549019607843137);

}
.VaccinatedDose2{
    color:rgb(47, 255, 158);
    padding: 1rem;
    background: rgba(142, 233, 142, 0.125);
}
.VaccinatedDose1{
    color:rgb(0, 204, 255);
    padding: 1rem;
    background: rgba(140, 224, 235, 0.125);
}
@media (max-width: 576px){
    .vaccine {
        flex-direction: column;
    }
}

.mode {
    float:right;
}
.change {
    cursor: pointer;
   
    border-radius: 40%;
    width: 20px;
    
    padding: 5px;
    margin: 1rem;
}
.dark{
    background-color:white;
    color: black;
}
.table{
    --bs-table-hover-color: white;
    --bs-table-hover-bg: rgba(124, 122, 122, 0.548);
};